<div class="container">
 
    <mat-card>
        <mat-card-title>Regions</mat-card-title>
      <mat-nav-list>
        <mat-list-item *ngFor="let region of regions">
          <p matLine>
            <span> {{region.regionName}} </span>
            <span>&nbsp;</span>
            <span > ( {{region.regionId}} ) </span>
           
            <span>&nbsp;</span>
            <span>
              <button  mat-button (click)="onDeleteRegion(region.regionId)">Delete</button>
            </span>
          </p>
        </mat-list-item>
      </mat-nav-list>
    </mat-card>
    
    <mat-card>
      <mat-card-title>Add new Region</mat-card-title>
      <form class="example-form" (ngSubmit)="onAddRegion(f)" #f="ngForm">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Region Id" name="regionId" type="number" ngModel>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Region Name" name="regionName" ngModel>
        </mat-form-field>
        <button mat-button type="submit">Save</button>
      </form>
    </mat-card>
    <mat-divider></mat-divider>
  </div>